<mat-toolbar color="accent">
  <h5>User Profile</h5>
</mat-toolbar>

<div *ngIf="formGroup">
  <mat-horizontal-stepper #stepper="matHorizontalStepper">
    <mat-step [stepControl]="formGroup">
      <form [formGroup]="formGroup">
        <ng-template matStepLabel>Account Information</ng-template>
        <div class="stepContent">
          <div
            fxLayout="row"
            fxLayout.lt-sm="column"
            [formGroup]="formGroupName()"
            fxLayoutGap="10px"
          >
            <mat-form-field appearance="outline" fxFlex="40%">
              <input
                matInput
                placeholder="First Name"
                aria-label="First Name"
                formControlName="first"
                #name
              />
              <mat-error
                [input]="name"
                [group]="formGroupName()"
                [appFieldError]="ErrorSets['RequiredText']"
              ></mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="20%">
              <input
                matInput
                placeholder="MI"
                aria-label="Middle Initial"
                formControlName="middle"
                #middle
              />
              <mat-error
                [input]="middle"
                [group]="formGroupName()"
                [appFieldError]="{ error: 'invalid', message: 'Only initial' }"
              ></mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="40%">
              <input
                matInput
                placeholder="Last Name"
                aria-label="Last Name"
                formControlName="last"
                #last
              />
              <mat-error
                [input]="last"
                [group]="formGroupName()"
                [appFieldError]="ErrorSets['RequiredText']"
              ></mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px">
            <mat-form-field appearance="outline" fxFlex="50%">
              <mat-label>Date of Birth</mat-label>
              <input
                matInput
                aria-label="Date of Birth"
                formControlName="dateOfBirth"
                [min]="minDate"
                [max]="now"
                [matDatepicker]="dateOfBirthPicker"
                #dob
              />
              <mat-hint *ngIf="formGroup.get('dateOfBirth')?.value"
                >{{ age }} year(s) old</mat-hint
              >
              <mat-datepicker-toggle
                matSuffix
                [for]="dateOfBirthPicker"
              ></mat-datepicker-toggle>
              <mat-datepicker #dateOfBirthPicker></mat-datepicker>
              <mat-error
                [input]="dob"
                [group]="formGroup"
                [appFieldError]="{
                  error: 'invalid',
                  message: 'Date must be within the last 100 years'
                }"
              ></mat-error>
            </mat-form-field>
            <mat-form-field
              appearance="outline"
              fxFlex="50%"
              [formGroup]="formGroupAddress()"
            >
              <mat-label>State</mat-label>
              <input
                type="text"
                aria-label="State"
                matInput
                formControlName="state"
                [matAutocomplete]="stateAuto"
                #state
              />
              <mat-autocomplete #stateAuto="matAutocomplete">
                <mat-option *ngFor="let state of states$ | async" [value]="state.name">{{
                  state.name
                }}</mat-option>
              </mat-autocomplete>
              <mat-error
                [input]="state"
                [group]="formGroupAddress()"
                appFieldError="required"
              ></mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px">
            <mat-list formArrayName="phones">
              <h2 mat-subheader>
                Phone Number(s)
                <button mat-button (click)="addPhone()">
                  <mat-icon>add</mat-icon> Add Phone
                </button>
              </h2>
              <mat-list-item
                style="margin-top: 36px"
                *ngFor="let position of phonesArray.controls; let i = index"
                [formGroupName]="i"
              >
                <mat-form-field appearance="outline" fxFlex="100px">
                  <mat-label>Type</mat-label>
                  <mat-select formControlName="type">
                    <mat-option
                      *ngFor="let type of PhoneTypes"
                      [value]="convertTypeToPhoneType(type)"
                      >{{ type }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex fxFlexOffset="10px">
                  <mat-label>Number</mat-label>
                  <input
                    type="text"
                    matInput
                    formControlName="digits"
                    aria-label="Phone number"
                    prefix="+1"
                  />
                  <mat-error
                    *ngIf="
                      phonesArray.controls[i].invalid && phonesArray.controls[i].touched
                    "
                  >
                    A valid phone number is required
                  </mat-error>
                </mat-form-field>
                <button fxFlex="33px" mat-icon-button (click)="phonesArray.removeAt(i)">
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-list-item>
            </mat-list>
          </div>
        </div>
      </form>
    </mat-step>
  </mat-horizontal-stepper>
</div>
